{% extends 'template.html' %}
{% from 'f.j2' import textfield, passwordfield, submitbutton, nav %}

{% block title %}Home Page{% endblock %}

{% block heading %}Home Page{% endblock %}

{% block content %}
<div class="row">
    {{ nav() }}
</div>

<div class="row">
    <div class="col-sm-4">
        {% if user != None %}
            <p>You are logged in as <b>{{ email }}</b></p>
        {% else %}
            <p>You are not logged in</p>
        {% endif %}
    </div>
    <div class="col-sm-4">
        <p>You are at the home page. All the stuff you need is in the menu at the top</p>
        <p>To login as a different person, please logout first</p>
    </div>
    <div class="col-sm-4">
        &nbsp;
    </div>
</div>

{% endblock %}